<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="application.scss"/>
  </head>

<div calss="noticw"><%= flash[:notice] %></div>
<div class="showtitle"><span class="name">Tite:</span><%= @book.title %></div>

<div class="showbody"><span class="name">Body:</span><%= @book.body %></div>

<span class="link_edit_back">
  <%= link_to "Edit", edit_book_path(@book.id)%> | <%= link_to "Back" ,books_path %>
</span>

</html>

